<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全屏视频</title>
</head>
<body>
    <div class="sys-video">
        <video 
            src="https://cdn.steamstatic.com.8686c.com/steam/apps/256727618/movie480.mp4"
            x-webkit-airplay="allow"
            x5-video-player-type="h5"
            x5-video-player-fullscreen="false"
            controls="controls">
            您的浏览器不支持html5 video
        </video>
    </div>
</body>
</html>